<div class="flex justify-center">
    <!-- blogs-area -->
    <div class="lg:max-w-[710px] max-w-full w-full 2xl:me-[60px] lg:me-[30px]">
        <div class="lg:max-w-[710px] max-w-full w-full 2xl:me-[60px] lg:me-[30px]">
            <div class="sm:pb-7 pb-5 sm:my-6 mb-5 border-b border-gray-400">
                <h2 class="font-matter font-semibold category_name sm:text-3xl 2sm:text-2xl text-[22px] sm:mt-0 mt-2"></h2>
            </div>
        </div>
        <!-- content -->
        <div id="blog-category">

        </div>
        <!-- content -->
    </div>
    <!-- blogs-area -->
    <!-- blogs-Sidebar-area -->
    {{partial:sidebar-area}}
    <!-- blogs-Sidebar-area -->
</div>