
  <div class="flex justify-center">
                <!-- blogs-area -->
                <div class="lg:max-w-[710px] max-w-full w-full 2xl:me-[60px] lg:me-[30px]">
                    <div class="flex items-center justify-between md:mt-2 mb-5 border-b border-gray-400">
                        <ul class="topic-tabs flex w-[calc(100%-46px)] overflow-x-auto">

                            <li class="2sm:me-8 me-5"><a href="#tabs1"  data-tab-type="for-you" class="topic-tabs-link flex 2sm:py-4 py-3 font-matter 2sm:text-base text-sm text-gray-800 whitespace-nowrap active">For you</a></li>
                            {{ if {session:has key="author_logged_in"} != false }}
                            <li class="2sm:me-8 me-5"><a href="#tabs2"  data-tab-type="following" class="topic-tabs-link flex 2sm:py-4 py-3 font-matter 2sm:text-base text-sm text-gray-800 whitespace-nowrap">Following</a></li>
                            {{ /if }}
                            <li class="me-4"><a href="#tabs3" data-tab-type="recommended" class="topic-tabs-link flex 2sm:py-4 py-3 font-matter 2sm:text-base text-sm text-gray-800 whitespace-nowrap">Recommended</a></li>
                        </ul>
                        <!-- Category add now -->
                        <div x-data="{open:false}" class="ps-3">
                            <div class="flex items-center">
                                <button class="hidden plus-btn flex items-center justify-center 2sm:w-[34px] 2sm:h-[34px] w-[28px] h-[28px] rounded-full border border-gray-400 hover:bg-gray-900 hover:border-gray-900" @click="open=true">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 6.85519H6.85714V11.998H5.14286V6.85519H0V5.1409H5.14286V-0.00195312H6.85714V5.1409H12V6.85519Z" fill="#191919"/>
                                    </svg>
                                </button>
                            </div>
                            <!-- Full Popus -->
                            <div x-show="open" class="sm:p-5 p-3 fixed top-0 left-0 bg-black/40 z-50 w-full h-full grid justify-center items-center overflow-y-auto" style="">
                                <!-- White Box -->
                                <div class="bg-white max-w-[570px] w-full mx-auto rounded-2xl 2sm:px-[35px] 2sm:py-[35px] p-[25px] relative">
                                    <div>
                                        <!-- Login -->
                                        <div>
                                            <h2 class="font-matter text-gray-900 font-bold sm:text-3xl 2sm:text-2xl text-[22px] mb-2">Add New</h2>
                                            <p class="font-matter 2sm:text-base text-sm text-gray-800">Fill in the details here to add a new tab or add a new category.</p>
                                            <div class="2sm:mt-5 mt-4">
                                                <form>
                                                    <div class="sm:mb-6 mb-4">
                                                        <label for="email" class="flex pb-2 font-matter text-base text-gray-900">Email</label>
                                                        <input id="email" name="email" type="email" class="input" placeholder="Enter email...">
                                                    </div>
                                                    <div class="flex sm:flex-nowrap flex-wrap items-center space-x-4 sm:mb-6 mb-4">
                                                        <!-- Radio Button 1 -->
                                                        <label class="flex items-center space-x-2">
                                                          <input type="radio" name="payment" value="credit" class="form-radio text-gray-900 h-4 w-4">
                                                          <span class="font-matter sm:text-base text-sm text-gray-900">Add New Category</span>
                                                        </label>
                                                        
                                                        <!-- Radio Button 2 -->
                                                        <label class="flex items-center space-x-2">
                                                          <input type="radio" name="payment" value="paypal" class="form-radio text-gray-900 h-4 w-4">
                                                          <span class="font-matter sm:text-base text-sm text-gray-900">Add New Tab</span>
                                                        </label>
                                                    </div>
                                                    <div class="w-full">
                                                        <a href="javascript:;" class="btn-primary flex w-fit">Submit</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- Login -->
                                    </div>
                                    <!--== close Model ==-->
                                    <button class="flex justify-center items-center font-matter 2sm:text-base text-sm text-gray-800 hover:text-gray-900 hover:underline 2sm:w-[36px] 2sm:h-[36px] w-[32px] h-[32px] p-2 rounded-full bg-gray-500 absolute top-5 right-5" @click="open=false">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3 3L15 15M3 15L15 3" stroke="#191919" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                    <!--== close Model ==-->
                                </div>
                                <!-- White Box -->
                            </div>
                            <!-- Full Popus -->
                        </div>
                        <!-- Category add now -->
                    </div>
                    <!-- content -->
                    
                    <div id="tabs1" class="topic-content show ">
                        
                   
                    </div>
                             
                    <div id="tabs2" class="topic-content hidden">
                    
                    </div>

                    <div id="tabs3" class="topic-content hidden">
                    
                    </div>
                    <!-- content -->
                </div>
                <!-- blogs-area -->
                <!-- blogs-Sidebar-area -->
                {{partial:sidebar-area}}
                <!-- blogs-Sidebar-area -->
            </div>